body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}